{% extends "nbms_app/base.html" %}
{% block title %}Export Packages{% endblock %}
{% block content %}
  <h1>Export Packages</h1>
  <p><a href="{% url 'nbms_app:export_package_create' %}">Create export package</a></p>
  <div class="card">
    <ul>
      {% for package in packages %}
        <li>
          <a href="{% url 'nbms_app:export_package_detail' package.uuid %}">{{ package.title }}</a>
          ({{ package.status }})
        </li>
      {% empty %}
        <li>No export packages yet.</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
