{% extends "nbms_app/base.html" %}
{% block title %}National Targets{% endblock %}
{% block content %}
  <h1>National Targets</h1>
  {% if can_create_target %}
    <p><a href="{% url 'nbms_app:national_target_create' %}">Create National Target</a></p>
  {% endif %}
  <div class="card">
    <ul>
      {% for target in targets %}
        <li>
          <a href="{% url 'nbms_app:national_target_detail' target.uuid %}">
            {{ target.code }} - {{ target.title }}
          </a>
        </li>
      {% empty %}
        <li>
          No national targets available.
          {% if can_create_target %}
            <a href="{% url 'nbms_app:national_target_create' %}">Create the first one</a>.
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
