<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ indicator.code }} - {{ indicator.title }}</title>
  </head>
  <body>
    <h1>{{ indicator.code }} - {{ indicator.title }}</h1>
    {% if indicator.national_target %}
      <p>Target: {{ indicator.national_target.code }} - {{ indicator.national_target.title }}</p>
    {% endif %}
    <p>Status: {{ indicator.status }}</p>
    <p>Sensitivity: {{ indicator.sensitivity }}</p>
    <p><a href="{% url 'nbms_app:indicator_list' %}">Back to list</a></p>
  </body>
</html>
