{% extends "nbms_app/base.html" %}
{% block title %}Indicators{% endblock %}
{% block content %}
  <h1>Indicators</h1>
  {% if can_create_indicator %}
    <p><a href="{% url 'nbms_app:indicator_create' %}">Create Indicator</a></p>
  {% endif %}
  <div class="card">
    <ul>
      {% for indicator in indicators %}
        <li>
          <a href="{% url 'nbms_app:indicator_detail' indicator.uuid %}">
            {{ indicator.code }} - {{ indicator.title }}
          </a>
          {% if indicator.national_target %}
            ({{ indicator.national_target.code }})
          {% endif %}
        </li>
      {% empty %}
        <li>
          No indicators available.
          {% if can_create_indicator %}
            <a href="{% url 'nbms_app:indicator_create' %}">Create the first one</a>.
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
